<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Catalógo</title>
</head>

<body>
    <div class="container mt-5">
        <a th:hreaf="@{/cadastro}" class="btn btn-sucess mb-4">Novo Produto</a>
        <h1 class="mb-4">Vitrine de Produtos</h1>
        <form class="row mb-4" methood="GET" action="/">
            <div class="form-group">
                <input type="text" class="form-control" name="busca"
                    placeholder="Buscar pelo nome do produto......................." th:value="${termoBusca}">
            </div>

            <div class=col-md-4>
                <button type="submit" class="btn btn-primary">Enviar</button><a th:href="@{/}" class="btn btn-secondary">Limpar</a>
            </div>

        </form>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" th:each="produto : ${produtos}">
                <div class="card h-100 shadow-sm">
                    <img th:src="@{$produto.urlImagem}" alt="Imagem do produto" class="card-img-top" style="height: 200px; object-fit:cover;">

                    <div class="card-body">
                        <h5 class="card-title" th:text="${produto.nome}">Nome do Produto</h5>
                        <p class="card-text-sucess fw-bold" th:text="${#numbers.formatCurrency(produto.preco)}">R$0,00</p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/produto/{id}(id=${produto.id})}" class="btn btn-sm btn-outline-primary">Ver detalhes</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        
        <div th:if="${produtos.isEmpty()}" class="alert alert-waring mt-4" role="alert">Nenhum produto encontrado para o termo de busca.</div>

    </div>
</body>

</html>